.TeamMemberWrapper {
  display: inline-block;
  position: relative; }

.thumbnailStyle {
  display: inline-block;
  margin-right: 3px; }
  .thumbnailStyle .profile__img {
    height: 35px;
    width: 35px; }
  .thumbnailStyle:hover {
    cursor: pointer; }

.iconStyle {
  position: relative;
  top: -3px;
  display: inline-block; }
  .iconStyle > div {
    height: 27px;
    width: 27px;
    border: 1px dashed gray;
    color: grey;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    margin-left: 3px;
    margin-right: 3px;
    transition: color 0.5s linear; }
    .iconStyle > div svg {
      position: relative;
      left: 1px;
      top: 1px; }
  .iconStyle > div:hover {
    border-style: solid;
    color: black;
    border-color: black;
    cursor: pointer; }
