$primary: #dd628f;
.candidate-info-container {
  background-color: #f6f7f9;
  width: 100vw;
  height: 100%;

  .candidate-header-container {
    display: flex;
    background: url('../../images/center-header.png') no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% center;
    height: 350px;
    .info-logo-image {
      background: url('../../images/logo/nugget-logo.png') no-repeat center
        center;
      color: white;
      width: 150px;
      height: 65px;
      margin: auto;
      background-size: 100%;
      margin: 50px auto;
    }
  }
  .login_form {
    width: 430px;
    margin: -200px auto 50px;
    border-radius: 8px;
    box-shadow: 0 15px 30px 0 rgba(141, 151, 200, 0.15);
    background-color: white;
    text-align: center;
    padding: 40px 40px;
    z-index: 30;
    .login_form_header {
      font-size: 32px;
      margin-bottom: 30px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #f2568d;
    }
    .login_form_description {
      width: 350px;
      margin: 16px 0px 15px 40px;
      font-size: 13px;
      font-family: Avenir;
      font-weight: normal;
      font-style: oblique;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: 0.4px;
      text-align: left;
      color: #4f4f4f;
    }
    .form-control-label {
      margin: 10px 0;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: #4a4a4a;
    }
    .text_field {
      margin-bottom: 10px;
      width: 350px;
      text-align: left;
    }
    & > .text_field:first-child {
      margin-top: 15px;
    }
  }

  .continue-btn {
    width: 350px;
    height: 60px;
    border-radius: 6px;
    margin-top: 20px;

    font-size: 1rem;
  }

  .back-to-end-btn {
    color: $primary;
  }

  .validationTrue {
    display: block;
    height: 30px;
    margin-left: 10px;
    font-size: 1em;
    color: red;
    visibility: hidden;
    opacity: 0;

    i,
    p {
      display: inline-block;
    }
  }

  .validationFalse {
    display: block;
    height: 30px;
    margin-left: 10px;
    font-size: 1em;
    color: red;
    visibility: visible;
    opacity: 1;
    transition: opacity 600ms, visibility 600ms;

    i,
    p {
      display: inline-block;
    }
  }

  .success {
    position: relative;
    top: 11px;
    margin-left: 10px;
    display: inline-block;
    font-size: 1em;
    color: green;
    visibility: visible;
    opacity: 1;
    transition: opacity 600ms, visibility 600ms;
  }
}
