.password-reset-wrapper {
  padding-top: 30px;
  height: calc(100vh - 285px);

  .back-image {
    position: absolute;
    z-index: 1;
    max-width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -55%)
    
  }

  .password-reset-form {
    z-index: 1;
    max-width: 560px;
    border-radius: 8px;
    box-shadow: 0 15px 30px 0 rgba(141, 151, 200, 0.15);

    .password-reset-header {
      border-bottom: 1px solid #dee7f7;
      padding: 40px;

      h5 {
        font-size: 28px;
        font-weight: 500;
        line-height: normal;
        color: #4a4a4a;
        margin-right: 32px;
        cursor: pointer;
      }

      @media only screen and (max-width:600px) { 
        padding: 20px;
        h5 {
          font-size: 20px;
          margin-right: 20px;
        }
        
      }
      
    }

    .inputs-wrapper {
      padding: 40px;

      @media only screen and (max-width:600px) { 
        padding: 20px;
      }

      .visible-password {
        opacity: 0.25;
        color: #000;
        cursor: pointer;
      }
    }

    label {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      color: #4a4a4a;
      margin-bottom: 12px;
      margin-top: 20px;
    }

    p {
      font-size: 15px;
      line-height: 1.73;
      color: #4a4a4a;
      opacity: 0.8;
    }

    .sign-in-btn {
      width: 100%;
      height: 56px;
      margin-top: 22px;
      font-size: 15px;
      font-weight: 500;
    }

    .forgot-link {
      font-style: italic;
      font-size: 14px;
      font-weight: 500;
      color: #4a4a4a;
      text-decoration: underline;
      cursor: pointer;
    }

    .login-actions {
      padding: 22px 0;
      border-top: 1px solid #dee7f7;

      label,
      a {
        color: #4a4a4a;
        line-height: 1.25;
        font-size: 16px;
        padding: 0;
        margin: 0;
      }

      a {
        color: #8c92f7;
        font-weight: 600;
        margin-left: 12px;
        cursor: pointer;
      }
    }

    .error-msg {
      margin-top: 10px;
      margin-left: 10px;
      font-size: 1em;
      color: red;
      visibility: visible;
      opacity: 1;
      transition: opacity 600ms, visibility 600ms;
      text-align: center;
      padding: 15px;


      .valid__icon {
        display: inline-block;
      }

      .valid__text {
        display: inline;
      }
    }

  }


}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}