.not-found {
  margin-top: 150px;
  margin-bottom: 100px;
}

.not-found img {
  max-width: 100%;
}

.not-found h7 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.not-found Button {
  background-color: #9AD5D3;
}

.not-found Button:hover {
  background-color: #77DEDA;
  transition: 0.5s;
}

@media only screen and (max-width: 576px) {
  .not-found h7 {
    font-size: 15px;
  }

  .not-found h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 576px) {
  .not-found .text {
    margin-top: 60px;
    margin-left: 30px;
  }
}