.validate-main {
  height: calc(100vh - 70px);
  padding-top: 10vh;
  .back-image {
    position: absolute;
    z-index: 1;
    max-width: 650px;
    top: 45%;
    left: 50%;
    transform: translate(-70%, -55%);
  }
  .verify_form {
    z-index: 1;
    max-width: 560px;
    border-radius: 8px;
    box-shadow: 0 15px 30px 0 rgba(141, 151, 200, 0.15);

    .verify_header {
      border-bottom: 1px solid #dee7f7;
      padding: 40px;

      h5 {
        font-size: 28px;
        font-weight: 500;
        line-height: normal;
        color: #4a4a4a;
        margin-right: 32px;
        &.selected {
          opacity: 1;
        }
      }

      @media only screen and (max-width: 600px) {
        padding: 20px;
        h5 {
          font-size: 20px;
          margin-right: 20px;
        }
      }
    }

    .inputs-wrapper {
      padding: 20px 40px;
      opacity: 0.8;
      @media only screen and (max-width: 600px) {
        padding: 20px;
      }
    }

    label {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.43;
      color: #4a4a4a;
      margin-bottom: 12px;
    }
  }
}
