.skills-modal {
  padding: 15px;
  height: 100%;
  .paper-main {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 15px 30px 0 rgba(141, 151, 200, 0.15);
    background-color: #fff;
    padding: 40px;
    height: auto;
    .divider {
      width: 100%;
      position: absolute;
      left: 0;
      top: 70px;
    }
    .skills-modal-header {
      position: relative;
      h5 {
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #f2568d;
      }
      h6 {
        margin: 10px 0 10px;
        font-family: 'AvenirNext', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #555555;
      }
      .close-btn {
        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
    .skill-chart {
      margin-top: 30px;
      // width: 987px;
      width: 1000px;
      top: 50%;
      margin-left: -150px;
    }
    @media only screen and (max-width: 1024px) {
      width: inherit;
      max-width: 80%;
    }
    @media only screen and (max-width: 900px) {
      width: inherit;
      max-width: 100%;
      font-size: 12px;
    }
    @media only screen and (max-width: 600px) {
      width: inherit;
      font-size: 12px;
      margin-top: 25px;
      max-width: 100%;
      padding: 20px;
    }
  }
}
