.createTest {
  position: relative;
  z-index: 999;
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}

.cardDelete {
  position: absolute;
}

.cardButton {
  margin: 10px;
}

.saveTest {
  position: relative;
  top: 43px;
  right: -100px;
}

.cardsContainer{
  margin-bottom: 10px;
}

.cardType{
  margin-top: 10px;
  position: relative;
  left: -18px;
}

.cloudImage {
  position: absolute;
  top: 20vh;
  left:5vw;
  width:80%;
  z-index: 1;
}

.stepCard {
  position: relative;
  z-index: 100;
  &>div {
    margin: 10px 0;
  }
}

.validationTrue {
  font-size: 1em;
  color: red;
  visibility: hidden;
  opacity: 0;
}

.validationFalse {
  font-size: 1em;
  color: red;
  visibility: visible;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: opacity 600ms, visibility 600ms;
}

.copylink__wrapper {
  width: 400px;
  margin: 0 auto;
}