.card__wrapper {
  .card__setting {
    width: 50px;
    float: right;
    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms;
  }

  &:hover {
    background-color: #fafafa;
    .card__setting {
      visibility: visible;
      opacity: 1;
      transition: opacity 600ms, visibility 600ms;
    }
  }

  .media {
    height: 0;
    padding-top: 200px;
  }


  .company {
    font-size: 1em;
    font-weight: normal;
    margin: 10px 0;
  }

  .timestamp {
    width: 100px;
    display: inline-block;
  }

  .card__title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 10px;
    display: block;
    &:before {
      display: none;
    }

    &>div {
      &:before {
        border: none;
      }

      &:hover {
        &:before {
          border: none;
        }
      }
    }

    .card__input {
      font-size: 1.4rem;
      svg {
        opacity: 0;
      }
      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }
}