.stepCard {
  text-align: center; }
  .stepCard button {
    margin: 0 20px; }

.tabitem {
  padding-top: 20px;
  text-align: center;
  width: 500px;
  margin: auto; }

.form ul {
  width: 165px;
  margin: 0 auto; }

.copylink__wrapper {
  width: 400px;
  margin: 0 auto; }
