.informDataModal .paper {
  position: absolute;
  border-radius: 10px;
  width: 460px;
  background-color: white;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  padding: 20px 0; }
  .informDataModal .paper .header {
    padding: 0 50px; }
    .informDataModal .paper .header .header-image {
      width: 80%;
      margin: 20px auto;
      display: block; }
    .informDataModal .paper .header h2 {
      flex-grow: 1; }
    .informDataModal .paper .header .colorIndicator {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: auto 20px auto 0px;
      border-radius: 10px;
      text-align: center; }
    .informDataModal .paper .header .header-title {
      text-align: center; }
    .informDataModal .paper .header .info {
      background: transparent;
      box-shadow: none;
      font-size: 18px;
      height: 33px;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #4a4a4a; }
    .informDataModal .paper .header .help-tooltip {
      font-family: AvenirNext;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: 0.4px; }
  .informDataModal .paper .content {
    padding: 0px 50px;
    margin-bottom: 30px; }
    .informDataModal .paper .content .description {
      padding: 15px 0px;
      opacity: 0.75;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: 0.3px;
      text-align: center;
      color: #4f4f4f; }
      .informDataModal .paper .content .description .note {
        font-size: 12px;
        color: #d0021b; }
      .informDataModal .paper .content .description .description_title {
        font-family: Avenir;
        font-size: 13px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.69;
        letter-spacing: 0.2px;
        color: #4f4f4f;
        padding: 5px 0px; }
      .informDataModal .paper .content .description li {
        line-height: 2em; }
  .informDataModal .paper .footer {
    padding: 0px 50px; }
    .informDataModal .paper .footer .start_but {
      width: 100%; }
