.science {
  padding-right: 50px;
  position: relative;

  .tab-wrapper {
    .tab-fixed {
      position: absolute;
      top: 70px;
      left: 0;
    }

    .tab-list {
      padding-top: 100px;

      .tab-text {
        border-bottom: solid transparent;
        width: auto;
        flex: inherit;
        padding: 0;

        &:hover {
          cursor: pointer;
        }

        &.selected {
          border-bottom: solid #e688a8;

          span {
            color: #e688a8;
            display: inherit;
            width: auto;
          }
        }
      }
    }

    .content-tab {
      margin-top: 70px;

      .about-title {
        font-weight: bold;
        color: #444;
        padding-bottom: 10px;
      }

      .about-sub-title {
        padding-bottom: 30px;
        color: #666;
      }

      .about-text {
        background: transparent;

        &.p-bold {
          p {
            padding-bottom: 20px;
            color: #555;
            line-height: 1.3;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
  }

  @media only screen and (max-width: 599px) {
    .tab-wrapper {
      .btn-back {
        margin-top: 30px;
      }

      .tab-fixed {
        position: relative;
        top: 0px;
        width: 100%;
        left: 0;
      }

      .tab-list {
        padding-top: 20px;
      }

      .content-tab {
        margin-top: 0px;

        .about-title {
          font-weight: bold;
          color: #444;
          padding-bottom: 10px;
        }

        .about-sub-title {
          padding-bottom: 30px;
          color: #666;
        }
      }
    }
  }
}
