.questionModal {
  .question-modal-textfield {
    width: 100%;
  }
  .paper {
    position: absolute;
    border-radius: 10px;

    width: 500px;
    background-color: white;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    padding: 20px 0;
    .header {
      padding: 0 50px;
      .header-image {
        width: 80%;
        margin: 20px auto;
        display: block;
      }
      h2 {
        flex-grow: 1;
      }
      .colorIndicator {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: auto 20px auto 0px;
        border-radius: 10px;
        text-align: center;
      }
      .header-title {
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f2568d;
      }
      .info {
        background: transparent;
        box-shadow: none;
        font-size: 18px;
        height: 33px;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #4a4a4a;
      }
      .help-tooltip {
        margin-top: 2px;
        font-family: AvenirNext;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;
      }
    }
    hr {
      margin-top: 20.5px;
      background-color: #d5d5d5;
    }
    .content {
      padding: 0px 50px;
      margin-bottom: 30px;
      .description {
        padding: 15px 0px;
        // opacity: 0.75;
        font-family: Avenir;
        font-size: 20px;
        font-weight: normal;
        font-style: oblique;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.36px;
        color: #4f4f4f;
        .note {
          font-size: 12px;
          color: #d0021b;
        }
        .description_title {
          font-family: Avenir;
          font-size: 13px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.69;
          letter-spacing: 0.2px;
          color: #4f4f4f;
          padding: 5px 0px;
        }
        li {
          line-height: 2em;
        }
      }
      .description-2 {
        padding: 15px 0px;
        // opacity: 0.75;
        font-family: Avenir;
        font-size: 20px;
        font-weight: 500;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.36px;
        color: #4f4f4f;
      }
      .radio-label {
        width: 372px;
        font-family: Avenir;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.48px;
        color: #4f4f4f;
      }
      .radio-label .radio-description {
        font-size: 11px;
        color: #d0021b;
      }
      .radio-label .radio-description-1 {
        font-weight: 900;
      }
      .radio-legend {
        color: #f2568d;
        padding-top: 0px;
      }
      .time-text-1 {
        padding: 15px 0px;
        padding-bottom: 0px;
        // opacity: 0.75;
        font-family: Avenir;
        font-size: 30px;
        font-weight: 900;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.36px;
        color: #d0021b;
        text-align: center;
      }
      .time-text-2 {
        padding: 15px 0px;
        padding-top: 0px;
        // opacity: 0.75;
        font-family: Avenir;
        font-size: 15px;
        font-weight: 300;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 0.36px;
        color: #4f4f4f;
        text-align: center;
      }
    }
    .footer {
      padding: 0px 50px;
      .next-but {
        width: 100%;
        background-color: #f2568d;
        color: white;
      }
    }
  }
}
