.card {
  display: flex;
  text-align: center;
  flex-direction: column; }
  .card:hover {
    cursor: pointer; }
  .card i {
    color: green !important;
    font-size: 2em !important;
    position: relative;
    left: 70px;
    top: -190px; }
  .card .img-card {
    height: 200px;
    width: 100%;
    margin: auto;
    padding: 3px;
    background-position: center center;
    background-size: cover; }

.item__selected .img-card {
  border: 3px solid #ffe70d;
  padding: 0px !important; }

.item__selected i {
  visibility: visible;
  opacity: 1;
  transition: opacity 600ms, visibility 600ms; }

.item__nselected i {
  visibility: hidden;
  opacity: 0; }

.title {
  font-weight: bold; }

.description {
  font-weight: light; }
