$primary: #dd628f;

.candidate-enter-container {
  background-color: #f6f7f9;
  width: 100vw;
  height: 100%;
  .waston-lang-selector {
    display: flex;
    justify-content: flex-end;
    padding: 19px 50px 0px 0px;
    .selector {
      width: 170px;
      height: 60px;
    }
  }
}

.bg-center-image {
  background-image: url('../../images/Assessment/shapes.svg');
  background-size: 690px;
  background-position: center center;
  background-repeat: no-repeat;
}

.login_wrapper {
  min-height: calc(100vh - 70px);
  .login_form {
    margin-top: -150px;
    text-align: center;
    z-index: 30;
    // width: 400px;
    margin: 10px 0;
    .login-form-wrapper {
      width: 400px;
      margin: auto;
      .login-form-header {
        text-align: left;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #43434a;
      }
    }
    .title-header {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.44px;
      text-align: center;
      color: #9b9b9b;
    }
    h1 {
      margin-top: 5px;
      margin-bottom: 50px;
      color: $primary;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.88px;
    }
    .selector__control {
      // width: 500px;
      margin: 10px 0;
    }

    .text_field {
      display: block;
      margin-top: 0px;
      margin-bottom: 20px;
      background-color: #f6f7f9;
      div {
        text-align: left;
        width: 100%;
      }
      input {
        width: 300px;
      }
    }

    .text_field_select {
      display: block;
      margin-top: 0px;
      margin-bottom: 20px;
      background-color: #f6f7f9;
      div {
        text-align: left;
      }
      input {
        width: 300px;
      }
    }

    .custom_select_field {
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .gender-label {
      background: #f6f7f9;
    }

    .password_field {
      width: 300px;
    }
  }

  .continue-btn {
    width: 400px;
    height: 60px;
    border-radius: 30px;
    margin-top: 20px;

    font-size: 1rem;
  }

  .intro-text {
    line-height: 2.3em;
    p {
      font-size: 20px;
      letter-spacing: 0.8px;
      text-align: left;
      color: #575757;
    }
  }

  .validationTrue {
    display: block;
    position: relative;
    top: 12px;
    margin-left: 10px;
    font-size: 1em;
    color: red;
    visibility: hidden;
    opacity: 0;
  }

  .validationFalse {
    display: block;
    position: relative;
    top: 12px;
    margin-left: 10px;
    font-size: 1em;
    color: red;
    visibility: visible;
    opacity: 1;
    transition: opacity 600ms, visibility 600ms;
  }

  .valid__icon {
    display: inline-block;
  }

  .valid__text {
    display: inline;
  }

  .toggleText {
    display: inline-block;
    position: relative;
    top: 11px;
    margin-top: 20px;
    margin-left: 10px;
    span {
      color: #d25780;
    }
  }

  .success {
    position: relative;
    top: 11px;
    margin-left: 10px;
    display: inline-block;
    font-size: 1em;
    color: green;
    visibility: visible;
    opacity: 1;
    transition: opacity 600ms, visibility 600ms;
  }
  .check_field {
    text-align: left;
    .check-label {
      z-index: 10;
      .terms-cond {
        text-decoration: underline;
        color: #777ccd;
        z-index: 3;
      }
    }
  }
}

.bottomImg {
  position: absolute;
  left: 0px;
  top: 55vh;
  z-index: -999;
  width: 100vw;
  z-index: 1;
}

.candidate-header-container {
  height: 70px;
}

.logo-image {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  background: url('../../images/logo/nugget-logo.png') no-repeat center center;
  width: 150px;
  height: 65px;
  background-size: 100%;
  margin: 0 10px 0 0;
}

@media (min-width: 768px) {
  .topright-image {
    position: fixed;
    top: 0px;
    right: 0px;
    background: url('../../images/Assessment/Path-2.png') no-repeat center
      center;
    width: 300px;
    height: 225px;
    background-size: 100%;
  }
  .bottomleft-image {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: url('../../images/Assessment/blob-left.svg') no-repeat center
      center;
    width: 300px;
    height: 200px;
    background-size: 100%;
  }
}
.center-image {
}

.warning-text {
  margin-top: 5px !important;
  font-size: 14px !important;
}

.step-wizard-container {
  position: fixed;
  top: calc(50vh - 200px);
  left: 50px;
  width: 40px;
  height: 400px;

  @media (max-width: 767px) {
    display: none;
  }
  .rc-steps {
    height: 100%;

    .rc-steps-item {
      height: 33%;
      .rc-steps-item-icon {
        background: transparent;
        border-color: #928ef3;
        border-width: 3px;
        width: 40px;
        height: 40px;
        .rc-steps-icon {
          top: 5px;
          color: #928ef3;
        }
      }
      .rc-steps-item-tail {
        left: 18px;
        top: 10px;
        &::after {
          width: 4px;
          background: #928ef3;
        }
      }
    }

    .rc-steps-item-process {
      .rc-steps-item-icon {
        border-color: #0053fa;
      }
    }
  }
}

.helper-text {
  font-size: 11px !important;
  text-align: left;
}

.margin-bottom {
  margin-bottom: 4.4px !important;
}

.button-text {
  margin: 0px 6px;
}
