footer {
  margin-top: 50px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 20px 0 20px 0;
  font-size: 14px;

  .science-link {
    color: #e688a8;
    text-decoration: inherit;
    padding-right: 30px;
  }

  .assessment-count {
    color: #555;
  }

  .logo-footer {
    padding-top: 30px;
    img {
      width: 35px;
    }

    span {
      padding-top: 15px;
      color: #999;
    }
  }

  @media only screen and (max-width: 599px) {
    position: inherit;
    z-index: 3;
    padding: 0;

    .science-link {
      padding-right: 0;
    }

    .science-link,
    .assessment-count {
      width: 100%;
      text-align: center;
    }
  }
}
