.analyticscard {
  width: 100%;
  // min-width: 220px;
  min-height: 200px;
  border-radius: 6px;
  position: relative;
  background: white;
  margin-bottom: 15px;
  cursor: pointer;
  .info-pane {
    display: flex;
    justify-items: start;
    min-height: 10px;
    font-size: 14px;
    padding: 20px 10px 0px 20px;
    button {
      height: 20px;
      min-width: 20px;
      padding: 0px;
    }
    .menu-popper {
      z-index: 10;
    }
    .pipelines-description {
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      max-height: 30px;
      cursor: pointer;
    }
    .pipelines-count {
      width: 79px;
      height: 44px;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #448bca;
      flex-grow: 1;
    }
    .pipelines-count1 {
      width: 79px;
      height: 44px;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: green;
      flex-grow: 1;
    }
  }
}
