.AddPipeline {
  .paper {
    position: absolute;
    width: 750px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    padding: 0px;
    .pipeline_header {
      display: flex;
      justify-items: center;
      align-items: center;
      min-height: 80px;
      border-bottom: 1px solid #dfe1e6;
      padding: 0 30px 0 50px;
      h2 {
        flex-grow: 1;
      }
      .copy-link {
        background: transparent;
        box-shadow: none;
        font-size: 18px;
      }
    }
    .pipeline_data {
      padding: 10px 50px;
      display: flex;
      .pipeline_name {
        flex-grow: 1;
        padding-right: 30px;
        .input_name {
          width: 100%;
        }
        p {
          margin: 0;
          font-size: 13px;
          color: red;
        }
      }
      .pipeline_color {
        width: 150px;
      }
      .data_label {
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
      }
    }

    .pipeline_type {
      padding: 0px 50px 20px;
      display: flex;
      .type_name {
        flex-grow: 1;
        .type_select {
          width: 470px;
        }
      }
      .data_label {
        display: flex;
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        .hint-button {
          margin-left: 3px;
          color: #998dd9;
        }
        .type_tooltip {
          background-color: #46415e;
        }
      }
    }
  }

  .start_but {
    float: left;
  }
  .cancel_but {
    float: right;
  }
  .form {
    width: 200px;
    padding: 0 50px 20px 50px;
  }
  .message {
    padding: 10px;
    color: red;
    font-size: 12px;
  }

  .pip_name {
    margin-right: 35px;
  }
}
.color-picker {
  z-index: 1500;
  margin-top: 16px;
  z-index: 1500;
  margin-top: 25px;
  /* height: 46px; */
  width: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 0px;
  display: inline-block;
  input {
    cursor: pinter;
  }
}
